In [7]:
# libraries imports
import pandas as pd
import numpy as np
import datetime as dt
import openpyxl
import html5lib
print(pd.__version__)
print(openpyxl.__version__)

1.2.4
3.0.7

In [1]:
# testing datetime in pandas

d = {'date': ['1/2/2000'], 'date2': ['01/02/2000'], 'date3': ['1-2-2000'], 'date4': ['1.2.2000']}
df = pd.DataFrame(data=d)
df.info()
df.loc[:,:] = df.loc[:,:].apply(pd.to_datetime)
df.info()
df

NameError: name 'pd' is not defined

In [37]:
# testing datetime in pandas - with UK dates one per series

d = {'date': ['13/2/2000'], 'date2': ['14/02/2000'], 'date3': ['15-2-2000'], 'date4': ['16.2.2000']}
df = pd.DataFrame(data=d)
df.info()

df[['date', 'date2', 'date3', 'date4']] = df[['date', 'date2', 'date3', 'date4']].apply(pd.to_datetime)
df.info()
df
# No problem

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    1 non-null      object
 1   date2   1 non-null      object
 2   date3   1 non-null      object
 3   date4   1 non-null      object
dtypes: object(4)
memory usage: 160.0+ bytes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    1 non-null      datetime64[ns]
 1   date2   1 non-null      datetime64[ns]
 2   date3   1 non-null      datetime64[ns]
 3   date4   1 non-null      datetime64[ns]
dtypes: datetime64[ns](4)
memory usage: 160.0 bytes

In [39]:
# Now with all UK in one series
d = ['13/2/2000', '14/02/2000', '15-2-2000', '16.2.2000']
s = pd.Series(d)
s = pd.to_datetime(s)
s

# Again pandas works out these are UK dates because they are all clearly in the same style

0   2000-02-13
1   2000-02-14
2   2000-02-15
3   2000-02-16
dtype: datetime64[ns]

In [40]:
# Now UK dates but less clear on if they are UK or US style.
d = ['1/2/2000', '2/02/2000', '2-3-2000', '16.2.2000']
s = pd.Series(d)
s = pd.to_datetime(s)
s

# Three of the dates could be US dates and still Pandas has seen one UK date and so knows the series is of UK dates.

0   2000-01-02
1   2000-02-02
2   2000-02-03
3   2000-02-16
dtype: datetime64[ns]

In [30]:
# get range of date style examples
http = r'https://www.ibm.com/docs/en/cmofz/10.1.0?topic=SSQHWE_10.1.0/com.ibm.ondemand.mp.doc/arsa0257.htm'
table = pd.read_html(http)
table
df = table[0]
df

# test which datestyles pandas can convert
df['Example'] = pd.to_datetime(df['Example'])
df.info()
df
# yes it converted all of them!!

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Format Specifier  25 non-null     object
 1   Format            25 non-null     object
 2   Example           25 non-null     datetime64[ns]
dtypes: datetime64[ns](1), object(2)
memory usage: 728.0+ bytes

In [43]:
# Now with some junk that can not be converted to dates
# d = ['1/2/2000', '2/02/2000', 'test', '16.2.2000']
# s = pd.Series(d)
# s = pd.to_datetime(s)
# s

# ParserError: Unknown string format: test

# But using the errors='coerce' parameter fixed this by filling the none dates with NaT (not a time)
d = ['1/2/2000', '2/02/2000', 'test', '16.2.2000']
s = pd.Series(d)
s = pd.to_datetime(s, errors='coerce')
s

0   2000-01-02
1   2000-02-02
2          NaT
3   2000-02-16
dtype: datetime64[ns]

In [12]:
# taken a sample from https://stackoverflow.com/questions/6194285/dealing-with-messy-dates
messy_dates = ["May2/ 12 noon", "9:45 am", "11:00 AM AST", "April 27 / 12:00 AST", 
"11:40 AM AST", "April 25 2011", "April 12th 2011 / 8:44", "April 12 2011 / 8:36am", 
"April 12 2011 / 8:30am", "April 12th 2011 / 8:18", "April 12 2011 / 8:12am", 
"April 11th 2011 / 5:57pm", "April 11th 2011 / 5:49pm", "April 11th 2011 / 5:42pm", 
"April 11th 2011 / 5:36pm", "April 11th 2011 / 5:27", "April 5 @ 11:26am", 
"8:50", "April 4th 12:45pm", "April 4th around 10am", "April 4th around 10am", 
"Mar 18, 2011 9:33am", "Mar 18, 2011 9:27am", "df", "fg", "12:16", 
"9:50", "Feb 8, 2011 / 12:20pm", "8:34 am  2/4/11", "Jan 31, 2011 2:50pm", 
"Jan 31, 2011 2:45pm", "Jan 31, 2011 2:38pm", "Jan 31, 2011 2:26pm", 
"11h09", "11:00 am", "1h02 pm", "10h03", "2h10", "Jan 13, 2011 9:50am Van", 
"Jan 12, 2011", "Jan 12, 2011 3:59pm", "Jan 12     14:19PM", 
"Jan 12, 2011 1:35pm", "Jan 12,2011 1:28pm", "1h36", "9h15", 
"9h09", "8h51", "8h45", "8h35", "1h12 pm", "12h59", "11h52 am", 
"10h45", "15h55", "Dec 31, 10 11:11am", "Dec 31,10 10:15am"]

In [27]:
s = pd.Series(messy_dates)
s = pd.to_datetime(s, errors='coerce')
# len(s)            # 57 total
# s.count()         # 30 dates
# s.isna().sum()    # 27 NaT

57

In [43]:
# So which ones worked and did not?
df = pd.DataFrame({'dates': messy_dates})
df.info()
df['clean_dates'] = pd.to_datetime(df['dates'], errors='coerce')

# ones that where not converted 
df.loc[df['clean_dates'].isna()]

# ones that were converted - Note times on their own were given todays date
# df.loc[df['clean_dates'].notna()]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57 entries, 0 to 56
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   dates   57 non-null     object
dtypes: object(1)
memory usage: 584.0+ bytes

C:\Users\goldsby_c\AppData\Local\Programs\Python\Python39\lib\site-packages\dateutil\parser\_parser.py:1213: UnknownTimezoneWarning: tzname AST identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.
  warnings.warn("tzname {tzname} identified but not understood.  "

                      dates clean_dates
0             May2/ 12 noon         NaT
3      April 27 / 12:00 AST         NaT
16        April 5 @ 11:26am         NaT
18        April 4th 12:45pm         NaT
19    April 4th around 10am         NaT
20    April 4th around 10am         NaT
23                       df         NaT
24                       fg         NaT
33                    11h09         NaT
35                  1h02 pm         NaT
36                    10h03         NaT
37                     2h10         NaT
38  Jan 13, 2011 9:50am Van         NaT
41       Jan 12     14:19PM         NaT
43       Jan 12,2011 1:28pm         NaT
44                     1h36         NaT
45                     9h15         NaT
46                     9h09         NaT
47                     8h51         NaT
48                     8h45         NaT
49                     8h35         NaT
50                  1h12 pm         NaT
51                    12h59         NaT
52                 11h52 am         NaT
53                    10h45         NaT
54                    15h55         NaT
56        Dec 31,10 10:15am         NaT